extends ../layout

block head
  title Home

block content
  .jumbotron.lato.background-gradient.vertical-center
    .container.horizontal-center.vertical-center
      .container.title-container
        .lead.title MULTIPLE INTELLIGENCES
  .section
    .a#first-section
    h2 Section Title