header.navbar.navbar-static-top.no-margin
  .container
    .navbar-header
      a.navbar-brand Multiple Intelligences
    nav.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='#first-section') The theory  
